:root {
  // 默认色
  --default: #ffffff;
  // 主题色
  --theme  : #66ccff;
  // 标题色
  --title  : #333333;
  // 主题背景
  --themeBg: var(--default);
  // 基础文本颜色
  --basis  : #444444;
  // 占位色
  --holder : #999999;
  // 下边框
  --border : #f7f7f7;
  // 阴影色
  --shadown: 0 0 1px rgba(255, 255, 255, 0.2);

  // 头部导航栏高度
  --simple-header-bar-height    : 44px;
  // 头部导航栏背景色
  --simple-header-bar-background: var(--themeBg);
  // 头部导航栏文字颜色
  --simple-header-bar-color     : var(--title);
  // 通知栏高度
  --status-bar-height           : 0;
}