:root {
  // 默认色
  --s-default              : #ffffff;
  // 主题色
  --s-theme                : #66ccff;
  // 标题色
  --s-title                : #333333;
  // 主题背景
  --s-theme-bg             : var(--s-default);
  // 基础文本颜色
  --s-basis                : #444444;
  // 占位色
  --s-holder               : #999999;
  // 下边框
  --s-border               : #f7f7f7;
  // 阴影色
  --s-shadown              : 0 0 1px rgba(255, 255, 255, 0.2);
  // 头部导航栏高度
  --s-header-bar-height    : 44px;
  // 头部导航栏背景色
  --s-header-bar-background: var(--s-theme-bg);
  // 头部导航栏文字颜色
  --s-header-bar-color     : var(--s-title);
  // 通知栏高度
  --status-bar-height      : 0;
}